
   #root.wrapper {
    grid-template-rows: auto auto 100px;
    grid-template-areas: "head" "main" "foot";
    display: grid;
  }
  #root header {
    text-align: center;
    grid-area: head;
    background-color: #4caf50;
    height: 100%;
    color: white;
  }
  #root header h1 {
    display: none;
  }
  #root header nav {
    height: 100%;
  }
  #root header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  #root header nav ul li a {
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  #root main {
    grid-area: main;
  }
 .wrapper main div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
  }
 .wrapper main div article {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 20px 0;
    padding: 20px;
  }
 .wrapper main div article h2 {
    color: #4caf50;
    margin-bottom: 10px;
  }
  .wrapper main div article figure {
    margin: 0;
  }
 .wrapper main div article figure img {
    width: 100%;
    max-height: 200px;
    height: auto;
  }
 .wrapper main div article figure figcaption {
    color: #333;
    font-style: italic;
  }
   .wrapper main div article figure p {
    color: #ccc;
    margin-bottom: 15px;
  }
   .wrapper main div a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 25px;
    border-radius: 25px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
   .wrapper main div a:hover {
    background-color: #3d8b40;
  }


  /*Dator*/
@media only screen and (min-width: 1080px) {
    #root {
      font-family: "Arial", sans-serif;
      background-color: #f5f5f5;
      color: #333;
      margin: 0;
      padding: 0;
    }
    #root .wrapper {
      width: 100%;
      margin: 0 auto;
    }
    #root .wrapper header {
      text-align: right;
      background-color: #4caf50;
      height: 80px;
      color: white;
      padding: 20px;
    }
    #root .wrapper header nav {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      justify-content: center;
      align-items: center;
      height: 100px; /* Set the desired height */
    }
    #root .wrapper header nav ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 100%;
    }
    #root .wrapper header nav ul li {
      margin-right: 70px;
    }
    #root .wrapper header nav ul li a {
      text-decoration: none;
      color: white;
      font-weight: bold;
    }
    #root .wrapper header nav ul li a:hover {
      text-decoration: underline;
    }
}